.myLogIn .myCustomText {
    font-size: 35px;
}

.myCustomText {
    font-size: 20px;
    color: white;
}

.myNav {
    background-color: #06B0F0;
}

.iconSize {
    font-size: 25px;
}

.icontext {
    color: white;
}

.title {
    background-color: #06B0F0;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    height: 45px;
    border: 2px solid #00308F;
}

.analayticstitle {
    background-color: #50C878;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 45px;
    border: 2px solid #00308F;
    border-radius: 5px;

}

button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    background-color: #06B0F0;
}

.myNav .btn {
    border-radius: 5px;
}

.title .btn {
    border-style: none;
    color:white;
    border-radius: 5px;
}

.myLoginForm {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.inventoryTable{
    margin-top : 50px;
}

.inventoryTable th {
    background: #4472C4;
}

.inventoryTable .headColor {
    color: white;
    font-weight: bold;
}

.inventoryTable tr:nth-child(even) {
    background-color: #e9ebf5;
}

.inventoryTable tr:nth-child(odd) {
    background-color: #d0d6e9;
}

.inventoryTable,
th,
td {
    border: 1px solid white;
}

.iptable {
    margin-top: 40px;
    border: 5px black solid;
}

input[type=text] {
    background-color: #4472C4;
    color: white;
    text-align: center;
}

input[type=password] {
    background-color: #4472C4;
    color: white;
    text-align: center;
}

.place ::placeholder {
    color: white;
}

.flex{
    background-color: #00308F;
}

.trendingTitle{
    background-color: #50C878;
    height: 45px;
    width:300px;
    border: 2px solid #00308F;
    border-radius: 5px;
}

.monthTitle{
    background-color: #2988c2;
    height: 45px;
    border: 2px solid #00308F;
    border-radius: 5px;
}

.data{
    background-color: #06B0F0;
    border: 2px solid #00308F;
    border-radius: 10px;
    text-align: center;
}

.data .trendingHeading{
    color:white;
}

.trendingText{
    font-size: 20px;
    
}


input[name="searchCategory"]{
    background-color: white !important;
    color:black;
}

.sapMInputBaseIconContainer .sapUiIcon{
    background-color:#4472C4;
    color:white;
   
}

.fastMovingBtn{
    color:white;
    border: none;
    border-radius: 5px;
    background-color: #4472C4;
    
}

.iconUpColor{
    color : #32de84;
}

.iconDownColor{
    color : red;
}

.dltButton{
    margin-left: 500px;
}

.analyticsBtn{
    background-color: #06B0F0;
}

.navButton button:hover {
    background-color:  #50C878; 
    color:white;
    border-color: #00308F;
}
